$font-stack:'Poppins', sans-serif;

$color-uno: #00b4d8;
$color-dos: #2ec4b6;
$color-tres: #cbf3f0;
$color-cuatro:#ffffff;
$color-cinco:#ffbf69;
$color-seis: #ff9f1c;
$color-titulo:  #FEBA0B;
$color-boton: #FEBA0B;


$regal-blue: white;
$san-juan: white;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);
